.bg-info{
	margin: 5px;
}

.card-img-overlay{
	margin-left: 20px;
	margin-top: 30px;
	text-align: center;
	text-shadow: 4px 4px black;
}

.card-title{
	font-size: 72px;
}

.footer {
	background-color: #f5f5f5;
	clear: both;
	height: 40px;
	line-height: 40px;
	margin-top: 30px;
	text-align: center;
	width: 100%;
}

h2 {
	text-align: center;
}

.businessCards{
	float: right;
	height: 33%;
	width: 75%;
	margin: 20px;
}

.searchLogos{
	float: left;
	height: 40%;
	margin-right: 10px;
	width: 40%;
}

.searchBusinesses{
	float: right;
	height: 50%;
	width: 50%;
}